@import "~bootstrap/scss/bootstrap";

html, body {
  //color: #3F4041;
  height: 100%;
}

body {
	background-color: #333;
}

h1{
  font-size: 1.5rem
}

.main{
  padding: 15px 15px;
  min-height:100%;
}
